* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::before, .clearfix::after {
    content: '';
    display: table;
}
.clearfix::after {
    clear: both;
}

a {
    text-decoration: none;
}

p {
    word-wrap: break-word;
}

body {
    background-color: white;
}

.wrapper {
    margin: 0 auto;
}

.leftbar {
    position: fixed;
    width: 360px;
    padding: 16px;
    height: 100%;
    background-color: #F5F5F5;
    color: #363636;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transition: all 0.5s;
}

.leftbar .hide {
    display: none;
}

.leftbar .hide {
    float: right;
}

.leftbar .hide:hover {
    cursor: pointer;
}

.leftbar .icon {
    margin: 16px 24px;
    height: 160px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.leftbar .name {
    margin: 0 24px;
    font-size: 20px;
}

.leftbar .intro {
    margin: 0 24px;
    margin-top: 16px;
    margin-bottom: 36px;
    font-size: 16px;
}

.leftbar button {
    margin: 0 24px;
    margin-bottom: 16px;
    width: 80%;
    height: auto;
    background-color: white;
    color: #363636;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 6px;
}

.leftbar button:hover {
    cursor: pointer;
}

.leftbar button p {
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
}

.container {
    position: absolute;
    left: 57.5%;
    width: 60%;
    transition: all 0.5s;
}

.container .firstbox {
    margin-top: 20px;
}

.container .box {
    margin-bottom: 20px;
    padding: 24px;
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.container .box .topbar {
    margin: 0 12px;
    height: auto;
}

.container .box .topbar .title {
    font-size: 24px;
    font-weight: bold;
}

.container .box .content {
    margin: 12px 12px;
    color: #777;
}

.container .box p a {
    color: #337ab7;
}

.container .box .bottombar {
    margin: 0 12px;
    color: #777;
    height: auto;
}

@media only screen and (max-width: 1400px) {
    .leftbar {
        width: 54px;
    }
    .leftbar .content {
        display: none;
    }
    .leftbar .hide {
        display: block;
    }
    .container {
        left: 52.5%;
        width: 70%;
    }
}
